@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* estilos generales */
body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color:rgb(255, 253, 253);
}
.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  margin: 4px;
  padding: 15px;
}
#mainheader {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }  
header nav ul{
  list-style: none;
}
header nav ul li{
  display: inline-block ;
  text-transform: uppercase;
  margin-left: 25px;
  padding: 2px;
  font-size: 0.80rem;
  font-weight: 700;
  margin-top: 10px;
  
  
}
nav ul li a{
  text-decoration: none;
  color:rgb(40, 182, 40);
  
}
nav ul li a:hover {
  color: rgb(9, 79, 9);
}
.img-bk {
  height: 300px;
  padding: 0 0;
  background-image: url(../img/fondo-verde.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt-cont {
  margin: 50px 20px;
}
.title{
  margin-top: 20px;
}
.img-bk h1 {
  font-size: 3rem;
  color: rgb(253, 253, 253);
  background-color: #2d2b2bcb;
  border-radius: 45%;
  padding: 10px;
}
.tit-2 {
display: flex;
}
.resaltar {
  background-color: rgb(250, 250, 250);
  opacity: 0.5;
  color: black;
  margin-left: 25px;
}
/* Grid */
.contenedor-grid {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid: template rows 0;
  height: 600px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  margin-top: 10px;
}
.imagen-br{
  height: 200px;
  width: 200px;
  background-image: url(../img/web-developer-vs-software-engineer-man-with-laptop.webp);
  background-size:cover ;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5rem;
}
.grid-1{
  border-bottom: 1px solid black;
}
.texto-1{
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
  color: #2e2e2e;
  font-weight: 600;
}
.grid-2{
  border: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
}
.texto-2{
  text-align: center;
  margin-top: 12rem;
  font-size: 1.1rem;
  color: #2e2e2e;
  font-weight: 400;
  
}
/* Productos destacados */
.contenedor-flex {
  display: flex;
  justify-content: center;
}
.contenedor-txt {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.text-green {
  text-transform: uppercase;
  margin-bottom: 50px ;
  color: rgb(6, 56, 6);
}

.boton-flex {
  display: flex;
  justify-content: center;
}
.btn-per {
  background-color: green;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
  border-radius: 25px;
  padding: 8px;
  text-decoration: none;
  width: 120px;
  height: 35px;
  margin: 20px;
}


/* estilos del main */
.bk-gray{
  background-color: rgb(242, 242, 242);
}
main h1 {
  text-align: center;
}

.textos {
  margin: 10px 0;
  display: inline-block;
  text-align: left;
  padding: 20px; 
  display: flex;
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
/* Footers */
aside {
  background-image: url(../img/bram-naus-hgoIR_BbMVE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 220px;
  margin: 0 auto;
}
.cont-flex {
  display: flex;
  justify-content: center;
}
.texto-boton {
  margin-top: 70px;
  display: flex; 
}
.texto-white {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
}
.btn-footer{
  display: flex;
  justify-content: center;

}
.btn-footer a{
  background-color: green;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
  border-radius: 25px;
  padding: 8px;
  margin-top: 5px;
  text-decoration: none;
  width: 180px;
  height: 40px;
  
}


.contenedor-3 {
  background-color: rgb(33, 79, 33);
  height: 180px;
  margin: 0 auto;
}
.logo-txt {
  display: flex;
  justify-content: center;
}
.txt-gray-light {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: gray;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  
}
.contenedor-4 {
  background-color: rgb(34, 124, 34);
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container-3{
  height: 20vh;
}
/* Estilos pag Nosotros */
/* flex */
.contenedor-flex-2{
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}
.contenedor-grid-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  height: 600px;
  width: 50%;
  background-color: rgba(206, 222, 218, 0.462);
  padding: 20px 20px;
  margin: 15px;
  border-radius: 6%;
  box-shadow: 0px 0px 20px 14px rgb(63, 88, 58);
}
.imagen-br-2{
  height: 150px;
  width: 150px;
  background-image: url(../img/web-developer-vs-software-engineer-man-with-laptop.webp);
  background-size:cover ;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}
.texto-1b{
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  color: #000000;
  font-weight: 600;
}
.texto-2b{
  margin-top: 3rem;
  text-align: center;
  font-size: 1.3rem;
  color: #000000;
  font-weight: 300;
  padding: 2rem;
}
/* bootstrap */
.contenedor-bootstrap{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  align-content: space-between;
  margin-left: 200px;
  margin-top: 20px;
}

/* Estilos pag productos */
.title h1{
  font-size: 1.5rem;
  color: rgb(25, 170, 25);
  border: 1px solid rgb(59, 59, 59);
  margin-bottom: 15px;
}
.padre-prod{
  display: flex;
  justify-content: center;
}
.container-productos{
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
.texto-boton{
  display: flex;
  flex-direction: column;
}

/* Estilos pages contacto */
.texto-contacto{
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  background-color: rgb(245, 244, 244);
  height: 100px;
  padding: 18px;
}
.contenido{
  font-weight: 300;
    color: #509f32;
    margin: 30px 10px;
    margin-right: 40px;
    padding: 0 0 10px;
    font-size: 2.2em;
    border-bottom: solid 1px #CCC;
}

.container-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
.form-info{
  margin-left: 300px;
  width: 400px;
  padding: 30px;
  border-radius: 4px;
}
.flex-static{
display: flex;
font-size: 35px;
margin: 0 10px;
gap: 20px;
}
  
/* Estilos pag encontranos */
.tienda{
  width: 100%;
  padding: 10px 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


/* Media celular */
@media screen and (max-width:768px) {
  #mainheader {
  display: flex;
  flex-direction: column;
  }
  header nav ul li {
    font-size: 10px;
    text-align: center;
    margin-left: 18px;
  }
  header nav ul{
    display: flex;
    flex-direction: row;
  }
  .img-bk{
    margin-top: 10px;
    height: 10rem;
    width: 100%;
    margin-left: -1px;
  }
  .img-bk h1{
    font-size: 2rem;
  }
  .container-1 {
    width: 100%;
  }
  body {
    width: 100%;
  }
  .contenedor-2 {
    width: 100%;
    }

  .contenedor-grid {
    height: 300px;
    width: 100%;
    background-color:rgb(242, 242, 242) ;
  }
  .imagen-br{
    height: 120px;
    width: 120px;
  }
  .texto-1 {
    font-size: 1rem;
    margin-top: 1em;
  }
  .texto-2 p{
    font-size: 0.7rem;
    margin-top: -7rem;
  }
  .grid-1, .grid-2{
    height: 320px;
  }
  .text-green{
    font-size: 1.2rem;
  }
  .texto-white{
    font-size: 1.5rem;
    text-align: center;
  }
  .texto-boton{
    display: flex;
    flex-direction: column;
  }
  .btn-txt{
    font-size: 0.8rem;
    
  }
  
    /* Estilos pag Nosotros */
  .contenedor-flex-2{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
  }
  .contenedor-grid-2 {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    background-color: rgba(206, 222, 218, 0.462);
    margin-left: 0px;
  }
  .imagen-br-2{
    height: 150px;
    width: 150px;
    background-image: url(../img/web-developer-vs-software-engineer-man-with-laptop.webp);
    background-size:cover ;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .texto-1b{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
  }
  .texto-2b{
    margin-top: 0.7rem;
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
    font-weight: 300;
    padding: 2rem;
  }
  /* bootstrap */
  .contenedor-bootstrap{
    display: flex;
    flex-direction: column;
  }
  /* page productos */
  /* bootstrap flex */
    .title{
      margin: 10px;
    }
    .title h1{
      font-size: 1rem;
      color: rgb(25, 170, 25);
      border: 1px solid rgb(59, 59, 59);
      margin-bottom: 5px;
    }
    
    .container-productos{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    /* Page contacto */
    .texto-contacto{
      text-align: center;
      font-size: 1.1rem;
      font-weight: 400;
      background-color: rgb(245, 244, 244);
      height: 80px;
      padding: 18px;
    }
    .contenido{
      font-weight: 300;
        color: #509f32;
        width: 100%;
        font-size: 2.2em;
        border-bottom: solid 1px #CCC;
    }
    .h2-contact{
      width: 100%;
    }
    .container-form{
      display: grid;
      grid-template-columns: repeat(1, 2fr);
    }
    .form-info{
      width: 100%;
      margin-left: 0px;
      margin-top: -1px;
    }
    .flex-static{
    display: flex;
    font-size: 35px;
    margin: 0 10px;
    gap: 20px;
    }
}



